#postContainer, #commentsContainer, #todoContainer {
    max-width: 1160px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    row-gap: 30px;

}

.postCard, .commentCard, .todoCard {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px gray;
    height: 100%;

}

.postCard p {
    text-align: justify;
}

.hide{
    display: none;
}


@media screen and (max-width:480px) {
    #postContainer {
        max-width: 90%;
        margin: 0px auto;

        grid-template-columns: 1fr;
        grid-gap: 15px;

    }

}